<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<property name="LOG_HOME" value="E:/workspaces/logs" />
	<property name="LOG_NAME" value="netty-rpc-demo-services"></property>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%c{100} %line] %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/${LOG_NAME}/${LOG_NAME}.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%c{100} %line] %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/${LOG_NAME}/${LOG_NAME}-%d{yyyy-MM-dd}.%i.log.zip
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>512MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	<logger name="org.springframework" level="WARN" additivity="false">
		<appender-ref ref="FILE" />
	</logger>
	<logger name="com.felix" level="INFO" additivity="false">
		<appender-ref ref="FILE" />
	</logger>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>